.todo {
  background: var(--base-color-dates);
  border-radius: 10px;
  box-shadow: 2px 3px 5px 2px #a3a3a3;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  height: 70px;
  overflow: hidden;
  margin-bottom: 15px;
}

.todo > .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo > .info-container {
  padding: 15px;
}

.todo > .info-container > .label {
  font-size: 22px;
  font-weight: bold;
}

.todo > .info-container > .text {
  margin: 0;
}

.todo > .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background: #ff4b4b;
}

.todo > .button-container > .button {
  background: transparent;
}

.todo > .button-container > .button > svg {
  height: 22px;
  width: 22px;
  transition: 0.2s;
}

.todo > .button-container > .button > svg > path {
  fill: var(--base-color-trash-icon);
}

.todo > .button-container > .button > svg:hover {
  height: 26px;
  width: 26px;
  transition: 0.2s;
}
