.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: var(--base-color-text);
  background: var(--base-color-list);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo > .deleteButton {
  font-size: 15px;
  transition: 0.1s;
  width: 30px;
  height: 30px;
  --ion-color-primary: var(--base-color-list); 
}

.todo > .deleteButton:hover {
  font-size: 20px;
  transition: 0.1s;
  width: 30px;
  height: 30px;
}

.todo > .button-solid{
  --box-shadow: 0;
  --background-hover: 0;
}

.label,
.importantTodo {
  cursor: pointer;
  width: 250px;
  text-align: start;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.importantTodo {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(241, 18, 18);
}

.checkedTodo {
  text-decoration:line-through;
  font-weight:normal;
  color: var(--base-color-text);
  text-transform:none;
}

.icon {
  color: var(--base-color-text);
}

.todo > .ion-color-danger{
  --ion-color-contrast: var(--base-color-text) !important;
} 