.list{
    padding: 25px;
    height: calc(100vh - 340px);
    overflow-y: auto;
}

.no-todos{
    text-align: center;
}


@media screen and (max-width: 600px) {
    .list{
        height: calc(100vh - 330px);
    }
}