.title{
    display: flex;
    justify-content: center;
}

.title > button {
    margin: auto 20px;
    height: 20px;
}

.stat{
    display: flex;    
    justify-content: center;
    margin: 5px auto;
}

.buttonDeleteAllChecked{
    border: 1px;
}