.weatherContainer {
    overflow-y: auto;
    width: auto;
}

.headerWeather {
    margin: auto;
    display: flex;
    width: fit-content;
    font-family: 'Franklin Gothic Medium';
    color: var(--base-color-text);
    text-align: center;
}

.weatherContainer {
    text-align: center;
    color: var(--base-color-text);
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
}

.headerWeather>.ion-color-primary {
    --ion-color-contrast: var(--base-color-text) !important;
}

.weatherContainer>.ion-color-primary {
    --ion-color-contrast: var(--base-color-text) !important;
}

.buttonChange {
    margin: auto;
    margin-left: 15px;
}

.wrapper {
    height: calc(100vh - 130px)
}

.mobile-button-weather {
    display: none;
}

@media screen and (max-width: 700px) {
    .card {
        grid-template-columns: 1fr;
    }
    .headerWeather {
        flex-direction: column;
    }
    .buttonChange {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .wrapper {
        height: auto;
    }
    .mobile-button-weather {
        display: block;
        position: absolute;
        top: 7px;
        left: 7px;
    }
    .icon {
        color: var(--base-color-trash-icon);
    }
}