.weatherContainer{
    overflow-y: auto;
    width: auto;
}

.header{
    margin: auto;
    display: flex;
    width: fit-content;
    color: var(--base-color-text);    
    font-family: 'Franklin Gothic Medium';
    color: var(--base-color-text);
    text-align: center;
}

.weatherContainer{
    text-align: center;
    color: var(--base-color-text);
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
}

.header > .ion-color-primary {
   --ion-color-contrast: var(--base-color-text) !important;
}

.weatherContainer >.ion-color-primary{
    --ion-color-contrast: var(--base-color-text) !important;
}

.buttonChange{
    margin: auto;
    margin-left: 15px;
}

.wrapper{
    height: calc(100vh - 100px)
}


@media screen and (max-width: 460px) {
    
    .card {
        grid-template-columns: 1fr;
    }

    .header{
        flex-direction: column;
    }

    .buttonChange{   
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .wrapper{
        height: auto;
    }
}