.delete-modal {
  height: 400px;
  width: 300px;
  background: var(--base-color-modal);
  box-shadow: 0 0 20px 10px #d7d7d7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.delete-modal > .title-modal{
  text-align: center;
  margin: 150px 0;
}

.delete-modal > .buttons-delete > .button-sure{
  margin: 10px;
  height: 30px;
  color: green;
}

.delete-modal > .buttons-delete > .button-cancel{
  margin: 10px;
  height: 30px;
  color: red;
}
