.header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
} 

.userName{
    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 601px) {
    
    .header{
        display: grid;
        grid-template-columns: 10fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .burgerMenuButton{
        display: none;
    }

    .userName{
        justify-self: center;
        align-self: center;
    }

    .burgerMenu{
        visibility: hidden;
    }
    
}
