@import "../../index.css";



.navBar {
  display: grid;
  width: 100vw;
  grid-template-columns: 350px 1fr;
  background-color: var(--base-color-nav);
  height: 74px;
}


@media screen and (max-width: 600px) {
  .links{
    visibility:hidden;
  }
  
  .navBar {
    grid-template-columns: 100px 1fr;
  }
}

@media screen and (min-width: 601px) {
  .burgerMenu{
    visibility:hidden;
  }
}

.links{
  margin-top: 25px;
  margin-left: 30px;
}

.navBar_item {
  justify-self: end;
  margin: 10px;
  color: var(--base-color-text);
  text-decoration: none;
} 

.underline{
  color: var(--base-color-active);
  text-decoration: underline;
}

.userName{
  margin: auto 0;
  color: var(--base-color-text);

}

.iconMail{
  margin: auto;
  padding-left: 2px;
}

.containerButtonChangeTheme{
  position: absolute;
  right: 0;
}

.buttonAuth{
  position: absolute;
  right: 40px;
  top: 20px;
  height: 60px;
  width: 60px;
}

.buttonChangeTheme {
  --ion-color-primary: var(--base-color-nav);
  align-self: center;
  height: 60px;
  width: 60px;
}

.navBar > .containerButtonChangeTheme > .button-solid{  
  --box-shadow: 0;
  --background-hover: 0;
}

.activateAcc{
  width: 240px;
  color:maroon;
}

/* Individual item */
.bm-item {
  display: inline-block;
  
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--base-color-text);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap{
  max-width: 150px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
