.navBar{
    display: grid;
    grid-template-rows: 20px 20px 20px 20px;
}

.navBar_item{
    margin-top: 55px;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--base-color-nonactive);
}

.underline{
    color: var(--base-color-active);
    text-decoration: underline;
  }