body[color-theme="dark"] {
    --base-color-app: #313131;
    --base-color-header: #3a3535;
    --base-color-navbar: #363636;
    --base-color-dates: #363636;
    --base-color-list: #ff4b4b;
    --base-color-text: #727272;
    --base-color-modal: #2b2b2b;
    --base-color-active:  #ff4b4b;
    --base-color-nonactive: #3d3d3d;
    --base-color-burger: #3d3d3d;
    --base-color-trash-icon: #3d3d3d;
  }
  
  body[color-theme="light"] {
    --base-color-app: #ffffff;
    --base-color-header: #ffffff;
    --base-color-navbar: #ffffff;
    --base-color-dates: #ffffff;
    --base-color-list: #ff4b4b;
    --base-color-text: #000000;
    --base-color-modal: #ffffff;
    --base-color-active: #ff4b4b;
    --base-color-nonactive: #5f5f5f;
    --base-color-burger: #adadad;
    --base-color-trash-icon: #ffffff;
  }

*{
    color: var(--base-color-text);
    font-family: 'Roboto', sans-serif;
}

button{
    border: none;
}

.app {
    display: grid;
    grid-template-areas:"navbar header" 
                        "navbar todolist";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 70px 1fr;
    grid-gap: 10px;
    background-color: var(--base-color-app);
}

.navBar-container{
    grid-area: navbar;
}

.header{
    grid-area: header;
}

.todoList{
    grid-area: todolist;
}

.notActivate{
    text-align: center;
}

@media screen and (max-width: 700px) {

    .navBar{
        display: none;
    }

    .app {
        display: block
    }
}
