.meter {
    height: 10px;
    border-radius: 10px;
    margin: 2px;
}

.red-meter {
    --progress-background: red !important;
    --background: salmon;
}

.yellow-meter {
    --progress-background: rgb(245 245 93) !important;
    --background: rgb(177 176 51);
}

.green-meter {
    --progress-background: rgb(19, 219, 19) !important;
    --background: rgb(4, 114, 4);
}